@media only screen and (max-width: 600px){
.main {
    background-color: rgba(80, 80, 80, 0.503);
}

.container {
    border: 1px solid white;
    width: 22rem;
    height: 24rem;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: rgb(132, 198, 255);
}
#heading {
    font-size: 2rem;
    font-weight: 700;
    color:#850083;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}
.units {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 8rem;
    gap: 0.5rem;
    margin-top: 1rem;
}
.input-result {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 8rem;
    gap: 0.5rem;
}
.measure {
    width: 18rem;
    height: 4rem;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    outline: none;
    border: none;
}
.mass {
    width: 17rem;
    height: 4rem;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    outline: none;
    border: none;
}
.result {
    width: 17rem;
    height: 4rem;
    font-size: 1.25rem;
    font-weight: 500;
    background-color: white;
    text-align: center;
}
}